version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_main
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  mongodb:
    image: mongo:7
    container_name: mongo_main
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  node.auth:
    build: ./node.auth

    container_name: auth_service
    environment:
      PORT: 8081
      JWT_KEY: supersecreto
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: root
      DB_PASS: rootpass
      DB_NAME: authdb
    depends_on:
      - mysql
    expose:
      - "8081"

  dotnet.vehiculos:
    build: ./dotnet.vehiculos

    container_name: vehiculos_service
    environment:
      ASPNETCORE_URLS: http://+:8082
      JWT__Key: supersecreto
      MONGO__CONN: mongodb://mongodb:27017
      MONGO__DB: vehiculosdb
      
    depends_on:
      - mongodb
    expose:
      - "8082"
      - "50051" # gRPC interno

  dotnet.envios:
    build: 
      context: ./dotnet.envios
      args:
        HTTP_PROXY: http://mi-proxy:8080
        HTTPS_PROXY: http://mi-proxy:8080
        NO_PROXY: localhost,127.0.0.1

    container_name: envios_service
    environment:
      ASPNETCORE_URLS: http://+:8083
      JWT__Key: supersecreto
      MYSQL__HOST: mysql
      MYSQL__PORT: 3306
      MYSQL__USER: root
      MYSQL__PASS: rootpass
      MYSQL__DB: enviosdb
      VEHICULOS__GRPC: http://dotnet.vehiculos:50051
    depends_on:
      - mysql
      - dotnet.vehiculos
    expose:
      - "8083"

  gateway:
    image: nginx:1.27-alpine
    container_name: api_gateway
    depends_on:
      - node.auth
      - dotnet.vehiculos
      - dotnet.envios
    ports:
      - "80:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mysql_data:
  mongo_data:
